.contact__contenedor{
    padding: 15px;
    flex-wrap: nowrap;
    iframe{
        width: 100%;
        padding: 10px;
    }
}
.contacto{
    color: #1B4965;
    font-size: 20px;
    font-family: 'Source Serif Pro', serif;
    display: flex;
    flex-direction: column;
    p{
        margin:10px;
        padding: 10px;
        font-family: 'Source Serif Pro', serif;
        color: $colorPrincipal;
        font-size: 20px;
        font-weight: 600;
        width: 100%;
    }
}
.colorH2{
    color: $colorCuaternario;
    font-size: 25px;
    font-weight: 900;
    font-family: 'Source Serif Pro', serif;
    text-align: center;
    margin: 20px;
    padding: 10px;
}