$colorPrincipal: #1b4965;
$colorSecundario: #62b6cb;
$colorTerciario: #bee9e8;
$colorCuaternario: #5fa8d3;
$colorQuinario: #cae9ff;

@mixin sizes ($color, $fz, $fw, $ta, $padding,){
color: $color;
font-size: $fz;
text-align: $fw;
font-weight: $ta;
padding: $padding;
}

$estilos: (
    color: $colorSecundario,
    familia:'Source Serif Pro' serif,
    peso: 900,
    alineacion: center,
    fuente: 50px,
    padding: 10px,
    animacion: fadein 2s ease,
);

.titulo{
    color: map-get($estilos , color);
    text-align: map-get($estilos, alineacion);
    font-size: map-get($estilos, fuente);
    font-family: map-get($estilos, familia);
    font-weight: map-get($estilos, peso);
    animation: map-get($estilos, animacion);
    padding: map-get($estilos, padding);
}
