@import "variables";
@import "menu";
@import "footer";
@import "whatsapp";
@import "contacto";
@import "empresa";
@import "servicios";
@import "opLaborales";
@import "mediaquerys";

html{
    font-size: 62.5%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Serif Pro', serif;
}
#fondoNeutro{
    background-color: $colorQuinario;
}
.banderas{
    display: flex;
    flex-direction: row;
    img{
        margin-left:10px;
    }
}
.row {
    color:$colorPrincipal;
}

.imagen1{
    margin: 50px, 25px, 15px, 10px;
    display: inline-block;
}